<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserAPITesting">
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager"></listener>
	</listeners>
	
	
  <test thread-count="5" name="UserTest">
  
    <classes>
    <!--     <class name="api.test.UserTestsNumpy"/> -->
    <class name="api.test.DDTUserTestsNumpy"></class> 
    </classes>
  </test> <!-- UserTest -->
  
  
</suite> <!-- UserAPITesting -->
